@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* Używamy Twojego koloru tła */
    @apply bg-background text-black antialiased font-sans;
}

@layer components {
    /* Karta / Kontener */
    .card {
        @apply bg-surface rounded-xl shadow-md border border-gray-200 p-8;
    }

    /* Główny przycisk (Navy Blue) */
    .btn-primary {
        @apply w-full flex justify-center items-center py-3 px-4 rounded-lg shadow-sm text-sm font-bold text-white bg-primary hover:opacity-90 transition-opacity focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary; cursor: pointer;
    }

    /* Przycisk drugorzędny (Secondary) */
    .btn-secondary {
        @apply w-full flex justify-center items-center py-3 px-4 rounded-lg shadow-sm text-sm font-bold text-black bg-white border border-secondary hover:bg-gray-50 transition-colors;
    }

    /* Przycisk Google */
    .btn-google {
        @apply w-full flex items-center justify-center gap-3 py-3 px-4 bg-white border border-gray-300 rounded-lg shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 transition-colors;
    }

    /* Inputy */
    .input-field {
        @apply block w-full rounded-lg border-gray-300 shadow-sm focus:border-primary focus:ring-primary sm:text-sm py-3 bg-white text-center;
    }

    /* Tekst etykiet */
    .label-text {
        @apply block text-sm font-semibold text-gray-700 mb-1.5;
    }

    /* Nagłówki */
    .heading-1 {
        @apply text-2xl font-bold tracking-tight text-primary;
    }

    .heading-2 {
        @apply text-xl font-bold tracking-tight text-secondary
    }

    /* Linki */
    .link {
        @apply font-medium text-primary hover:text-opacity-80;
    }
}